* :not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.logo {
  width: 200px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  text-indent: 24px;
  font-size: 16px;
}

.main {
  .head {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }
}